<div class="row shadowed">
	<div class="small-12 large-4 columns">
		<h3>Hit me up!</h3>
		<p>Do you have a fun awesome project that you think I might be able to help with? Are you a company that's sad because I don't work there? Do you want to discuss some of the latest technologies? Hit me up! You can also learn more about me by visiting me on <a href="https://www.linkedin.com/in/juanarciniega" target="blank" class="li"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>.</p>
	</div>
	<div class="small-12 large-8 columns">
	<form action="https://formspree.io/juanarcin@gmail.com" method="POST" name="userForm">
		<div class="small-12 medium-6 columns">
			<md-input-container class="md-block">
				<label>First name</label>
				<input ng-model="user.firstName" name="firstName" required>
			      <div ng-messages="userForm.firstName.$error" role="alert" multiple>
			              <div ng-message="required" class="my-message"><i class="fa fa-exclamation" aria-hidden="true"></i> First name is required</div>
			      </div>
			</md-input-container>
		</div>
		<div class="small-12 medium-6 columns">
			<md-input-container class="md-block">
				<label>Last name</label>
				<input ng-model="user.lastName" name="lastName" required>
			      <div ng-messages="userForm.lastName.$error" role="alert" multiple>
			              <div ng-message="required" class="my-message"><i class="fa fa-exclamation" aria-hidden="true"></i> Last name is required</div>
			      </div>
			</md-input-container>   
		</div>      		
		<div class="small-12 medium-6 columns">
			<md-input-container  class="md-block">
				<label>Email</label>
				<input ng-model="user.email" type="email" required name="email" >
			      <div ng-messages="userForm.email.$error" role="alert" multiple>
			              <div ng-message="required" class="my-message">Email is required</div>
			      </div>
			</md-input-container>    
		</div> 
		<div class="small-12 medium-6 columns">
			<md-input-container class="md-block">
				<label>Phone Number</label>
				<input name="phone" ng-model="user.phone" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" />
				<div class="hint" ng-show="showHints"> format: 123-456-7890</div>
			      <div ng-messages="userForm.phone.$error" role="alert" multiple>
			              <div ng-message="required" class="my-message"><i class="fa fa-exclamation" aria-hidden="true"></i> phone is required</div>
			      </div>
			</md-input-container>
		</div>  
		<div class="small-12 columns">
        		<md-input-container class="md-block">
          			<label>Message</label>
          			<textarea ng-model="user.biography" md-maxlength="1000" rows="5" md-select-on-focus name="message" required ></textarea>
			      <div ng-messages="userForm.message.$error" role="alert" multiple>
			              <div ng-message="required" class="my-message"><i class="fa fa-exclamation" aria-hidden="true"></i> A message is required</div>
			      </div>
        		</md-input-container>
        	</div>
		<div class="small-12 columns">
		    <input type="text" name="_gotcha" style="display:none" />
		    <input type="submit" value="submit" class="submit">
		    <input type="hidden" name="_next" value="#/thank-you" />
	    	</div>
	</form>
</div>

